body {
	font-size: 1.5em;
}
.navagation-link {
	cursor: pointer;
}

.score-button {
	height: 240px;
	margin-bottom: 40px;
	font-size: 2em;
	line-height: 62px;
}

.bigger-button {
	height: 60px;
	font-size: 2em;
}

.nav a {
	height: 40px;
}
