<form id="setLocation" class="form-inline">
	<fieldset>
		<legend>Set Location</legend>
		<div class="row">
			<input class="form-control" type="text" placeholder="location name" ng-model="locationName" value="Earth">
			<button ng-click="setLocation()" type="submit" class="btn btn-primary">Set Location</button>
		</div>
	</fieldset>
</form>
<form id="addPlayer" class="form-inline">
	<fieldset>
		<legend>Create New Player</legend>
		<div class="row">
			<input type="text" id="playerName" class="form-control" placeholder="player name" ng-model="newPlayerName">
			<button ng-click="createPlayer()" type="submit" class="btn btn-primary">Create Player</button>
		</div>
	</fieldset>
</form>
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Player Name</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="player in players">
			<td><button class="btn" ng-click="deletePlayer(player)"><i class="glyphicon glyphicon-trash"></i></button></td>
			<td>{{player.name}}</td>
		</tr>
	</tbody>
</table>
