<legend>Server: {{server.name}}</legend>
<div class="row-fluid">
	<div class="span6">
		<button class="btn btn-block score-button serverAce">{{server.name}} Serve</button>
	</div>
	<div class="span6">
		<button class="btn btn-block score-button serverRally">{{server.name}} Rally</button>
	</div>
</div>

<legend>Reciever: {{reciever.name}}</legend>
<div class="row-fluid">
	<div class="span6">
		<button class="btn btn-block score-button serverFault">{{reciever.name}} Serve</button>
	</div>
	<div class="span6">
		<button class="btn btn-block score-button recieverRally">{{reciever.name}} Rally</button>
	</div>
</div>
<button class="btn btn-block input-large undoPoint bigger-button">Undo Point</button>
{{/if}}
<button class="btn btn-primary input-large btn-block endGame bigger-button">Game Results</button>
{{else}}
You are not currently playing a game.
<button class="btn btn-primary input-large btn-block newGame bigger-button">New Game</button>
{{/if}}