<template name="stats">
	<h3>Past Games</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Date</th>
				<th>Players</th>
				<th>Winner</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each games}}
			<tr>
				{{> gameRow}}
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>

<template name="gameRow">
	<td><button class="removeGame btn"><i class="icon-trash"></button></i></td>
	<td>{{date}}</td>
	<td>{{playerList}}</td>
	<td>{{winner}}</td>
	<td><button class="gameStats btn">more</button></td>
</template>

<template name="statsSingle">
	<button class="backToStats btn btn-block bigger-button">Back to Games</button>
	<h3>{{score}}</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Server</th>
				<th>Reciever</th>
				<th>Winner</th>
				<th>How</th>
			</tr>
		</thead>
		<tbody>
			{{#each points}}
			<tr>
				<td>{{server.name}}</td>
				<td>{{reciever.name}}</td>
				<td>{{winner.name}}</td>
				<td>{{how}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>
